/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */                       

/* Google Fonts */
@import url(//fonts.googleapis.com/css?family=Poppins);


@import '../node_modules/modern-normalize/modern-normalize.css';
/* npm install modern-normalize 
  Resets elements for browser consistancy.  
  http://nicolasgallagher.com/about-normalize-css/ 
*/

/*   ----- Variables  -----  */
:root {
  --banner-navy:#343274;
  --gym-lime:#A2D683;
  --gym-white:#E9ECEC;
  --text-color:#434545;
  --text-green:#3E652F;
}

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {       /* Can alternatively define in html {} or :root {} */
  color:var(--text-color);
  background-color:var(--gym-white);
  font-family:"Poppins", sans-serif;
  font-size:1em;
  border:none;
  margin:0;
  padding:0;
  /* background-image:url(https://img.freepik.com/free-photo/cast-iron-dumbbell-weights_1048-11523.jpg?w=1060&t=st=1660158732~exp=1660159332~hmac=9ea48899baad8970ae2628b73e2d409bc9c74154c6839213617a95aab999d0cf); */
  background-image:url(https://images.unsplash.com/photo-1580398814575-816cf5faebad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
}

/* ----- Anchors ----- Text links */
a {}
a:link {}
a:hover {}
a:active {}
a:visited {}

/*  ----- Navigation ----- Override text links for navigation only.  */
nav {
  padding-left:1em;
}
div #nav {
  align-self: center;
  margin-left: auto;
  margin-right:1em;
}
nav .link {
  background-color:var(--gym-lime);
  color:var(--text-color);
  text-decoration: none;
  padding:0.5em 1em;
  margin-left:0.5em;
  margin-right:0.5em;
  border-radius:10px;
}
nav a {}

/*  ----- Page layout blocks -----  */
header #header {
  margin-left:0.75em;
}
header p {
  margin-top:-1.25em;
  padding-left:0.3em;
  font-size: 0.9em;
}
#header-2 {
  color:var(--gym-lime)
}
footer, header {
  background-color:var(--banner-navy);
  color:white;
  display:flex;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  overflow: hidden;
}
footer p {
  align-self: center;
  margin:0 auto;
  padding-top:0.2em;
  padding-bottom:0.2em;
}
main {
  text-align: center;
  margin-left:25%;
  margin-right:25%;
  background-color:var(--gym-white);
  margin-top:-1.25em;
  padding-bottom:5em;
  margin-bottom:0;
  border-radius:5px;
  min-width:500px;
}
section {}
article {
  align-items: center;
}
    #topic1 {}
    #topic2 {}
    #gallery1 {}
    #gallery2 {}
div {}
aside {}

/*  -----  Typography  ----- */
p {}
article p {
  margin-top:-1em;
  color:var(--text-green);
}
br {}
ol, ul, dl {}
li {}
dt {}
dd {}

h1, h2, h3, h4, h5, h6 {} /* Define consistant font family.*/
h1 {
  letter-spacing: 5px;
}
h1 #logo {
  padding-top:0.25em;
  margin-left:-7px;
  margin-right:-5px;
}
h2 {
  color:var(--text-green);
  padding-top:0.5em;
}
h3 {}
h4 {}
h5 {}
h6 {}

abbr {}
acronym {}
address {}
blockquote {}
  q {}
  cite {}
em {}
hr {}
mark {}
s {}
span {}
strong {}
sub {}
sup {}
time {}

/*  ----- Coding or instructional typography ----- */
pre {}
code {}
kbd {}
samp {}
var {}
del {} 
ins {}

/*  ----- Table ----- */
table {
  margin-left:auto;
  margin-right:auto;
  background-color:var(--gym-lime);
  border-radius:5px;
  border-spacing:0.5em;
  border-collapse:collapse;
  padding:0.5em;
}
caption {
  margin-bottom:0.2em;
  letter-spacing:2.5px;
}
thead {}
tbody {}
tfoot {}
tr {}
  tr:nth-child(even) {}
th {}
th, td {
  padding:0.5em;
}
td, th {
  border: solid 2px var(--gym-white);
}
table tr:first-child th {
  border-top:none;
}
table tr:last-child td {
  border-bottom:none;
}
table tr td:first-child, 
table tr th:first-child {
  border-left:none;
}
table tr td:last-child, 
table tr th:last-child {
  border-right:none;
}
td {}
  td:nth-child(1) {}
colgroup {}
data {}
datalist {}


/*  ----- Form ----- */
form {
  width:80%;
  margin:0 auto;
  background-color:var(--gym-lime);
  border-radius:5px;
  border-spacing:0.5em;
  border-collapse:separate;
  padding:0.5em;
  position:relative;
  text-align:left;
}
fieldset {border:none;}
  legend {}
label {
  width:30%;
  padding-right:0.5em;
  align-items: left;
}
label, input {
  display:flex;
  padding-top:0.3em;
  padding-bottom:0.2em;
}
input {
  border-radius:3px;
  padding:0.3em;
}
  button {
    border-radius:3px;
    padding:0.3em;
    margin-right:0.2em;
  }
  input {}
  output {}
  meter {}
  progress {}
  select {
    border-radius:3px;
    padding:0.3em;
  }
    optgroup {}
    option {}
  textarea {}

/* ----- Media ----- */
figure {}
  figcaption {}
img {}
svg {}
picture {}
  source {}
iframe {}
video {}
audio {}
embed {}
object {}


/*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
.floatright {}
.floatleft {}
.center-middle {}

.ten {}
.twenty {}
.thirty {}
.forty {}
.fifty {}
.sixty {}
.seventy {}
.eighty {}

.radius {}
.circle {}
.boxshadow {}
.tshadow {} 
.gradient {}
.shape {}

@keyframes App-logo {}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {}